<!-- templates/index.html -->
{% extends 'base.html' %}

{% block title %}JIRA Dashboard - Home{% endblock %}

{% block content %}
<h5>Issues in RDC: Wangshu SDK</h5>
<table class="table table-striped" id="issuesTable">
    <thead>
        <tr>
            <th class="sortable" onclick="sortTable(0)">Summary</th>
            <th class="sortable" onclick="sortTable(1)">Priority</th>
            <th class="sortable" onclick="sortTable(2)">Status</th>
            <th class="sortable" onclick="sortTable(3)">Creator</th>
            <th class="sortable" onclick="sortTable(4)">Created Date</th>
        </tr>
    </thead>
    <tbody>
        {% for issue in issues %}
        <tr>
            <td>{{ issue.fields.summary }}</td>
            <td>{{ issue.fields.priority.name }}</td>
            <td>{{ issue.fields.status.name }}</td>
            <td>{{ issue.fields.creator.displayName }}</td>
            <td>{{ issue.fields.created }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
